{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Gestion de Cocteles</title>
</head>
<body class="container mt-5">

    {% block content %}
    <div class="alert alert-info display-5 text-center mt-3">LISTADO DE COCTELES</div>

    <div class="cocteles mt-3 bg bg-light">
        {% if cocteles %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Ingredientes</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for coctel in cocteles %}
            <tr>
                <td scope="row">{{coctel.id}}</td>
                <td>{{coctel.nombre}}</td>
                <td>{{coctel.cantidad}}</td>
                <td>{{coctel.precio}}</td>
                <td>{{coctel.ingrediente}}</td>
                <td><a class="btn btn-warning" href="{% url 'actualizarCoctel' coctel.id %}">Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'eliminarCoctel' coctel.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-warning" role="alert">
        <strong>No se encuentran cocteles en el sistema</strong>
    </div>
    {% endif %}
    </div>
    
    
    <a href="../agregarcoctel" class="btn btn-info float-start">Agregar Coctel</a>
    {% endblock %}
</body>
</html>